/* https://coolors.co/3d3d3d-cfcfcf-43b5d9-715aff-b2675e */

body {
	background-color: #3d3d3d;
	color: #cfcfcf;
	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
}

main {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

header {
	text-align: center;
}

footer {
	text-align: center;
	font-size: 18px;
}

a {
	color: #43b5d9;
	text-decoration: none;
	
}

a:visited {
	color: #b2675e;
}

a:active {
	color: #715aff;
}

p {
	margin-left: 3%;
	margin-right: 40%;
	font-family: helvetica;
	text-align: left;
}

li {
	font-family: helvetica;
	font-size: 14px;
	margin-bottom: 5px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 32px;
}

h3 {
	margin-bottom: 2px;
}

figcaption {
	text-align: center;
	font-family: helvetica;
	font-size: 12px;
}

bars {
	font-size: 16px;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.designed-by {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.firm {
	font-size: 12px;
}

.indent {
	margin-left: 8%;
}

.my-pages {
	font-size: 16px;
	font-family: helvetica;
	font-weight: bold;
}

.pageDesignOlIndent > ol, h4 {
	margin-left: 10px;
}


.shipping-notice {
	font-size: 12px;
}

.script-btn {
	background-color: #b2675e;

}

.script-section {
	margin: 5% 0;
}

.text-indent {
	text-indent: 50px;
}

.w3-center {
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.a-footer {
	font-size: 12px;
}

/* TABLE HTML ONLY */

figure table tr {
	color: black;
	text-align: center;
}
figure table tr:nth-child(even) {
	background-color: #dddee2;
}
figure table tr:nth-child(odd) {
	background-color: #bdbfc8;
}
figure table tr:nth-child(1) {
	background-color: #616372;
	color: white;
	font-weight: bold;
}
figure td {
	padding: 5px;
}

