<a class="bold" href="https://github.com/aben-00">Github</a>
<bars>||</bars>
<a class="bold" href="https://aben-00.github.io">Github Pages</a>
<bars>||</bars>
<a class="bold" href="https://www.linkedin.com/in/abelardo-benitez-99710b265/">LinkedIn</a>
<bars>||</bars>
<a class="bold" href="https://webpages.charlotte.edu/abenite3">University Webpage</a>
<bars>||</bars>
<a class="bold" href="index.html">ITIS3135</a><br>

<p class="firm">Personal Webpage built by <a class="firm" href="abdevcorp.com/index.html"> 
AB Dev Corp</a>. 2024,
   <em>Certified in 
   <a class="firm" href="https://www.freecodecamp.org/certification/BenitezA/responsive-web-design" >
   Responsive Web Design</a></em>.
</p>
	
<a id="validation_link_html" href="https://validator.w3.org/check?uri=referer">
    <img src="../images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." >
</a>
<a id="validation_link_css" href="https://jigsaw.w3.org/css-validator/check/referer">
	<img src="../images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." >
</a>
	<script> 
		document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
			document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
	</script>
