<a class="bold" href="https://github.com/aben-00">Github</a>
<bars>||</bars>
<a class="bold" href="https://aben-00.github.io">Github Pages</a>
<bars>||</bars>
<a class="bold" href="https://www.linkedin.com/in/abelardo-benitez-99710b265/">LinkedIn</a>
<bars>||</bars>
<a class="bold" href="https://webpages.charlotte.edu/abenite3">University Webpage</a>
<bars>||</bars>
<a class="bold" href="index.html">ITIS3135</a><br>

<p class="firm">Personal Webpage built by <a class="firm" href="abdevcorp.com/index.html"> AB Dev Corp</a>. 2024</p>
	