<h1>Abelardo Benitez | Acclimated Beaver</h1>
			
<section>
	<a class="my-pages" href="index.html">Home</a>
	<bars>||</bars>
	<a class="my-pages" href="contract.html">Contract</a>
	<bars>||</bars>
	<a class="my-pages" href="introduction.html">Introduction</a>
	<bars>||</bars>
	<a class="my-pages" href="about.html">Audio by Beaver</a>
</section>
<figure>
	<img class="center-img" src="images/yeeclaw.png" alt="Crab wearing cowboy hat." height="154" width="154"><br>
	<figcaption><em>Crab wearing cowboy hat</em></figcaption>
</figure>